html {
  font-size: 16px;
  line-height: 1.25em;
}

h2,
h3 {
  font-size: 1.5rem;
  line-height: 1.25em;
}

nav {
  display: none;
}

p {
  line-height: 1.25em;
}

button {
  padding: 11px 24px;
  font-size: 0.875rem;
}

#drawer-open-btn,
#drawer-close-btn {
  background-color: transparent;
  padding: 0;
}

header,
footer {
  padding-left: 20px;
  padding-right: 20px;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

body {
  position: relative;
}

section {
  padding-left: 32px;
  padding-right: 32px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

#header-logo {
  width: 92px;
  height: 28px;
}

#cover-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

#cover-desc-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 14px;
}

#cover-img-container {
  width: 197px;
  height: 360px;
}

#cover-img-container > img {
  object-fit: cover;
  object-position: top;
  width: inherit;
  height: 100%;
}

article > div {
  width: 326px;
  height: 326px;
  border-radius: 18px;
}

.thumbnail {
  object-fit: cover;
  width: inherit;
  height: 100%;
  object-position: center;
  border-radius: 18px;
  box-shadow: 10px 10px 20px 0 #00000040;
}

#main-thumbnail {
  width: 326px;
  height: 190px;
  border-radius: 30px;
}

#main-thumbnail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#main-thumbnail-container > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#main-thumbnail-container > div:nth-child(2) > p {
  font-size: 14px;
}

#thumbnail-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  gap: 30px;
}

.text-orange {
  color: #d97652;
}

#thumbnail-group {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#more-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid #c4c4c4 1px;
}

#more-container > p {
  font-size: 18px;
  font-weight: 700;
}

#map-section {
  position: relative;
  padding-top: 40px;
}

#map-section > h2 {
  margin-bottom: 16px;
}

#map-section > p {
  color: #606367;
  font-weight: 500;
  margin-bottom: 28px;
}

#map-container {
  width: 326px;
  height: 132px;
  margin-bottom: 320px;
}

#map-img {
  object-fit: cover;
  width: 347.17px;
  height: 100%;
  object-position: -13px -8px;
  border-radius: 12px;
}

#footer-img-container {
  width: 100%;
  height: 240px;
  mix-blend-mode: screen;
  background-color: #f2e9d899;
}

#footer-img {
  object-fit: cover;
  object-position: 0 -30px;
  width: inherit;
  height: 100%;
  mix-blend-mode: screen;
}

#subscribe-window {
  position: absolute;
  bottom: -388px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #263140;
  color: #ffffff;
  border-radius: 30px;
  box-sizing: border-box;
  width: 326px;
  height: 348px;
  padding: 36px 32px;
  z-index: 1;
  gap: 30px;
}

#subscribe-window > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#subscribe-window p {
  font-size: 14px;
}

#email-input > svg {
  width: 18px;
  height: 18px;
}

#email-input {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 262px;
  border-radius: 60px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 16px;
  padding-right: 6px;
}

#email-input > form > input {
  border: none;
  flex: 1;
  margin-left: 14px;
  margin-right: 14px;
}

#email-mobile-submit {
  align-self: end;
}

#email-web-submit {
  display: none;
}

#scroll-top-btn {
  display: none;
  /* display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #f5f5f5;
  border-radius: 50px;
  border: 1px #767676 solid;
  width: 50px;
  height: 50px;
  z-index: 2; */
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
  display: none; /* 모달창 열리면 display: block */
  /* display: block; */
}

#modal {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px #00000033;
  background-image: url(../assets/images/modal_background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f2e9d8;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  display: none; /* 모달창 열리면 display: flex */
  /* display: flex; */
}

#modal > img {
  width: 60px;
  height: 60px;
  margin-bottom: 24px;
}

#modal > p {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 28px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 24px;
}

footer > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.icon-btn {
  background-color: #f29d52;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 32px;
}

.icon-btn > svg {
  width: 18px;
  height: 18px;
}

#footer-logo {
  width: 112px;
  height: 34px;
}

#footer-link-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  align-items: end;
  color: #767676;
}
