html {
  font-size: 16px;
  line-height: 1.25em;
}

h2 {
  font-size: 3rem;
  line-height: 1.25em;
}

h3 {
  font-size: 2.25rem;
  line-height: 1.25em;
}

p {
  line-height: 1.25em;
}

nav {
  visibility: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 49px;
}

header,
footer {
  padding-left: 16.7%;
  padding-right: 16.7%;
}

section {
  margin-left: 16.7%;
  margin-right: 16.7%;
}

body {
  position: relative;
}

main {
  position: relative;
}

#drawer-open-btn,
#drawer-close-btn {
  display: none;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
  z-index: 10;
}

#nav-link-group {
  display: flex;
  gap: 30px;
}

#header-logo {
  width: 130px;
  height: 40px;
}

#cover-section {
  margin-left: 0;
  margin-right: 0;
  padding-left: 16.7%;
  padding-right: 16.7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#cover-desc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 40px;
  width: 54%;
}

#cover-desc-container > div:nth-child(2) {
  width: 60%;
}

#cover-img-container {
  width: 415px;
  height: 766px;
}

#cover-img-container > img {
  object-fit: cover;
  object-position: top;
  width: inherit;
  height: 100%;
}

article > div {
  width: 100%;
  border-radius: 30px;
}

article .thumbnail {
  aspect-ratio: 1;
}

.thumbnail {
  object-fit: cover;
  width: inherit;
  height: 100%;
  object-position: center;
  border-radius: 30px;
  box-shadow: 10px 10px 30px 0 #00000040;
}

#main-thumbnail {
  width: 100%;
  border-radius: 30px;
}

#main-thumbnail-container {
  display: grid;
  grid-template-columns: 33fr 31fr;
  flex-direction: row;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

#main-thumbnail > .thumbnail {
  aspect-ratio: 1.7;
}

#main-thumbnail-container > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-left: 17.5%;
  gap: 30px;
}

#thumbnail-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 40px;
}

.text-orange {
  color: #d97652;
}

#thumbnail-group {
  display: grid;
  gap: 3.75vw;
  padding-top: 48px;
  padding-bottom: 48px;
}

/* 768px보다 작을 때 */
@media (max-width: 768px) {
  #thumbnail-group {
    grid-template-columns: 1fr;
  }
}

/* 768px ~ 1280px 사이일때 */
@media (min-width: 768px) and (max-width: 1280px) {
  #thumbnail-group {
    grid-template-columns: 1fr 1fr;
  }
}

/* 1280px보다 클때 */
@media (min-width: 1280px) {
  #thumbnail-group {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#more-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  padding-top: 52px;
  padding-bottom: 80px;
  border-bottom: solid #c4c4c4 1px;
}

#more-container > p {
  font-size: 1.5rem;
  font-weight: 700;
}

#map-section {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 68px;
}

#map-section > h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

#map-section > p {
  color: #606367;
  font-weight: 500;
  margin-bottom: 48px;
}

#map-container {
  width: 100%;
  margin-bottom: 181px;
  border-radius: 12px;
}

#map-img {
  object-fit: cover;
  width: inherit;
  height: inherit;
  object-position: center;
  border-radius: 12px;
}

#footer-img-container {
  width: 100%;
  height: 340px;
  mix-blend-mode: screen;
  background-color: #f2e9d899;
}

#footer-img {
  object-fit: cover;
  object-position: 0 40%;
  width: inherit;
  height: 100%;
  mix-blend-mode: screen;
}

#subscribe-window {
  position: absolute;
  bottom: -10%;
  display: flex;
  align-items: center;
  background-color: #263140;
  color: #ffffff;
  border-radius: 30px;
  box-sizing: border-box;
  width: 100%;
  flex: 1;
  z-index: 1;
}

#subscribe-window > div {
  flex: 1;
  padding: 50px 58px;
}

#subscribe-window > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#subscribe-window > div:first-child > p {
  font-size: 14px;
}

#subscribe-window > div:last-child {
  align-items: center;
}

#email-input {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 60px;
  border-radius: 60px;
  padding-left: 28px;
  padding-right: 6px;
}

#email-input > form > input {
  border: none;
  flex: 1;
}

#email-input > form {
  display: flex;
  flex: 1;
  margin-left: 16px;
  margin-right: 16px;
}

#email-mobile-submit {
  display: none;
}

#scroll-top-btn {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #f5f5f5;
  border-radius: 50px;
  border: 1px #c4c4c4 solid;
  width: 50px;
  height: 50px;
  z-index: 2;
}

#scroll-top-btn:hover > svg > path {
  fill: #767676;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
  display: none; /* 모달창 열리면 display: block */
  /* display: block; */
}

#modal {
  width: 600px;
  height: 400px;
  border-radius: 30px;
  box-shadow: 0px 0px 30px 0px #00000033;
  background-image: url(../assets/images/modal_background.png);
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  display: none; /* 모달창 열리면 display: flex */
  /* display: flex; */
}

#modal > img {
  width: 110px;
  height: 110px;
  margin-bottom: 24px;
}

#modal > p {
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 38px;
}

footer {
  display: flex;
  padding-top: 45px;
  padding-bottom: 45px;
}

footer > div {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.icon-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.icon-btn {
  background-color: #f29d52;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 42px;
  height: 42px;
  border-radius: 42px;
}

#footer-logo {
  width: 226px;
  height: 70px;
}

#footer-link-group {
  display: none;
}
